@import url("https://fonts.googleapis.com/css?family=Montserrat+Subrayada%7COswald%7CPoppins");
@import url("https://fonts.googleapis.com/css?family=Montserrat+Subrayada%7COswald%7CPoppins");
H1 {
  font-family: 'Montserrat Subrayada', sans-serif;
  color: white;
  font-size: 60 px; }

H2 {
  font-family: 'Oswald', sans-serif;
  color: white;
  text-transform: uppercase;
  font-size: 36 px; }

p {
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 18 px; }

body {
  margin: 0px; }

.navBar {
  box-sizing: border-box;
  background-color: yellow;
  height: 100px;
  overflow: hidden; }

.boxGreen {
  box-sizing: border-box;
  background-color: black;
  overflow: hidden;
  border-bottom: 2px solid #a9d416; }

.boxtopScience {
  box-sizing: border-box;
  background-color: black;
  height: 150px;
  overflow: hidden;
  border-bottom: 2px solid #a9d416; }
  .boxtopScience .titles {
    text-align: center; }

.sciImageLG {
  height: 500px;
  color: black;
  width: 100%;
  z-index: 100; }

img.large {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  object-fit: cover; }

.sciImageLG {
  position: relative; }

.image-with-text {
  background-color: black;
  height: 500px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10; }
  .image-with-text p {
    text-align: right;
    padding-left: 70px;
    padding-right: 20px;
    padding-top: 20px; }
  .image-with-text h1 {
    text-align: right;
    padding-left: 70px;
    padding-right: 20px;
    padding-top: 20px; }

.image-small {
  width: 45%;
  height: 500px;
  float: left;
  margin-right: 10px; }

.small {
  width: 100%;
  height: 100%;
  object-fit: cover;
  float: left; }

.textA {
  float: right;
  width: 45%;
  margin: 10px; }

.textB {
  float: right;
  width: 45%;
  margin: 10px; }

.textC {
  float: right;
  width: 45%;
  margin: 10px; }

.textD {
  float: right;
  width: 45%;
  margin: 10px; }

.textE {
  float: right;
  width: 45%;
  margin: 10px; }

.textF {
  float: right;
  width: 45%;
  margin: 10px; }

.textG {
  float: right;
  width: 45%;
  margin: 10px; }

.textH {
  float: right;
  width: 45%;
  margin: 10px; }

h1 {
  color: #ffffff;
  background-color: black; }

h2 {
  background-color: black; }

p {
  background-color: black; }

@media (max-width: 767px) {
  img.large {
    display: none;
    opacity: 0; }

  .sciImageLG {
    height: 1000px; }

  .small {
    float: none; }

  .image-small {
    float: none;
    clear: both;
    width: 100%; }

  .textA, .textB, .textC, .textD, .textE, .textF, .textG, .textH {
    float: none;
    clear: both;
    text-align: center;
    width: 100%;
    margin: 10px; }

  .image-with-text h1 {
    text-align: center;
    font-size: 36px;
    margin: 2px;
    text-align: center;
    font-size: 16px;
    margin: 2px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px; }

  .image-with-text p {
    text-align: center;
    font-size: 16px;
    margin: 2px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px; } }
body {
  margin: 0px; }

.navBar {
  box-sizing: border-box;
  background-color: yellow;
  height: 100px;
  overflow: hidden; }

.boxBlue {
  box-sizing: border-box;
  background-color: black;
  overflow: hidden;
  border-bottom: 2px solid #103559; }

.boxtopHistory {
  box-sizing: border-box;
  background-color: black;
  height: 150px;
  overflow: hidden;
  border-bottom: 2px solid #103559; }
  .boxtopHistory .titles {
    text-align: center; }

.hisImageLG {
  height: 500px;
  color: black;
  width: 100%;
  z-index: 100; }

img.large {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  object-fit: cover; }

.hisImageLG {
  position: relative; }

.image-with-text {
  background-color: black;
  height: 500px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10; }
  .image-with-text p {
    text-align: right;
    padding-left: 70px;
    padding-right: 20px;
    padding-top: 20px; }
  .image-with-text h1 {
    text-align: right;
    padding-left: 70px;
    padding-right: 20px;
    padding-top: 20px; }
  .image-with-text .image-with-text-ball {
    background-color: black;
    height: 500px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10; }
    .image-with-text .image-with-text-ball p {
      text-align: center;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 10px; }

.image-small {
  width: 45%;
  height: 500px;
  float: left;
  margin-right: 10px; }

.small {
  width: 100%;
  height: 100%;
  object-fit: cover;
  float: left; }

.textPast {
  float: right;
  width: 45%;
  margin: 10px; }

.textPresent {
  float: right;
  width: 45%;
  margin: 10px; }

.textFuture {
  float: right;
  width: 45%;
  margin: 10px; }

.textCreative {
  float: right;
  width: 45%;
  margin: 10px; }

.image-creative {
  width: 80%;
  height: 500px;
  float: left;
  margin-right: 10px; }

.CreativeCloud img {
  opacity: 1; }

.MobileCreativeCloud img {
  display: none;
  opacity: 0; }

.image-ball {
  box-sizing: border-box;
  height: 500px;
  width: 60%;
  object-fit: cover; }

.text-ball {
  width: 100%;
  float: none; }

h1 {
  color: #ffffff;
  background-color: black; }

h2 {
  background-color: black; }

p {
  background-color: black; }

@media (max-width: 767px) {
  .CreativeCloud img {
    display: none;
    opacity: 0; }

  .MobileCreativeCloud img {
    display: block;
    opacity: 1; }

  img.large {
    display: none;
    opacity: 0; }

  .image-creative {
    float: none; }

  .hisImageLG {
    height: 1000px; }

  .small {
    float: none; }

  .image-small {
    float: none;
    clear: both;
    width: 100%; }

  .textPast, .textPresent, .textFuture, .textCreative {
    float: none;
    clear: both;
    text-align: center;
    width: 100%;
    margin: 10px; }

  .image-with-text h1 {
    text-align: center;
    font-size: 36px;
    margin: 2px;
    text-align: center;
    font-size: 16px;
    margin: 2px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px; }

  .image-with-text p {
    text-align: center;
    font-size: 16px;
    margin: 2px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px; } }

/*# sourceMappingURL=style.css.map */
