$white: #ffffff;
$blue: #103559;
$green: #a9d416;
$purple: #460049;
$red: #890426;



H1 {
 font-family: 'Montserrat Subrayada', sans-serif;
 color: white;
 font-size:60 px;
}


H2 {
font-family: 'Oswald', sans-serif;
color: white;
text-transform: uppercase;
font-size: 36 px;
}

p {
font-family: 'Poppins', sans-serif;
color: white;
font-size: 18 px;
}
